body{
    
    background-color: #f4f4f4;
    margin: 0;
}

.link-title{
    
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: #444444;
    
}

.page-heading{
    
    text-align: center;
    margin-bottom: 20px;
}

.header{
/*        (top  botoom right left)*/
    padding: 22px 384px 22px 452px
    
}

.logo{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.menu{
    
    background: #3b7687;
    padding: 6px 0px 6px 40px;
    
}

.menu a{
    
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Airial narrow", "Myriad pro";
    
}

.menu a:hover{
    
    color: #ecf2f3;
}

h1{
    margin: 0px;
    padding: 10px 0px 0px 10px;
    color: #869843;
    font-size: 24px;
    font-family: "Airial narrow", "Myriad pro";
    font-weight: 20px;
}

h2{
    color: #3b7687;
    font-size: 15px;
    margin: 20px 0 5px 0;
}

footer{
    
    padding: 6px 40px 6px 350px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration:right;
}

footer a {
    text-decoration: none;
    color: #262626;
}

.separator{
    
    color: #ffffff;
    font-size: 11px;
}
/*****************Student Registration Page*************/

#stu-info{
width:500px;
padding: 10px 0px 10px 10px;
margin:0 auto;
box-shadow: 0px 9px 13px 5px;
    
}

#o_registration #stu-info input {
    
    width: 90%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
    
}

#o_registration #stu-info #male{
    
     width: 10%;
}
#o_registration #stu-info #female{
    
     width: 10%;
}
#o_registration #stu-info #other{
    
     width: 10%;
}
#o_registration #stu-info #ch{
    
     width: 10%;
}

#o_registration #stu-info #address{
    width: 90%;
    border-radius: 5px;
    height: 40px;
    background: #D6D6D6;
    
}

#o_registration #stu-info #submit{
    
     height: 30px;
    background: rgb(59, 118, 135);
}

.event {
  background-color: #3b7687;
  color:  #c5d6db;
  font-size: 14px;
  border: none;
  display: "inline-block";
  font-family: "Airial narrow", "Myriad pro";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
    background-color: #3b7687; 
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .event {background-color:darkblue;}